{% extends "layout/base.html" %}
{% from "macros/layout/title.html" import page_title %}
{% from "macros/card.html" import card %}
{% block title %}SOTERIA: About{% endblock %}
{% block page_class %}subpage{% endblock %}
{% block body_container %}mb-auto{% endblock %}
{% block body %}
<div class="container">
    {{ page_title("About SOTERIA") }}
    <div class="row">
        <div class="col-12 col-xl-7 col-lg-8 col-md-10">
            <p>
                SOTERIA is a container registry available to US-based researchers and their collaborators. Containers
                registered on SOTERIA have three primary advantages: Discoverability, Visibility, and Traceability.
            </p>
        </div>
    </div>
</div>
<div class="bg-light pt-3 pb-3 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-4">
                {% call card("Discoverability") %}
                <ul>
                    <li>Easy to cite Images</li>
                    <li>Generation of Metadata for creation of DOIs and archival
                        <ul>
                            <li>Funding Agencies</li>
                            <li>Grant Numbers</li>
                        </ul>
                    </li>
                </ul>
                {% endcall %}
            </div>
            <div class="col-4">
                {% call card("Visibility") %}
                <ul>
                    <li>Effectively communicate container contents</li>
                    <li>Advertise the discovered software
                        <ul>
                            <li>System RPMs</li>
                            <li>Known vulnerabilities</li>
                        </ul>
                    </li>
                </ul>
                {% endcall %}
            </div>
            <div class="col-4">
                {% call card("Traceability") %}
                <p>For security reasons, can we find the containers used at specific NSF resources.</p>
                {% endcall %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="pb-2" id="status-privileges">Status Privileges</h2>
            <table class="table">
                <thead class="table-light">
                <tr>
                    <td></td>
                    <th class="h5">Base</th>
                    <th class="h5">Affiliate</th>
                    <th class="h5">Member</th>
                    <th class="h5">Researcher</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Details</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Expiration Timeline</td>
                    <td>Always applicable</td>
                    <td>30 Days</td>
                    <td>12 months</td>
                    <td>12 months</td>
                </tr>
                <tr>
                    <th>Projects</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Private</td>
                    <td>0</td>
                    <td>1</td>
                    <td>0 (Can access Researchers)</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Public</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0 (Can access Researchers)</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Size per project (GB)</td>
                    <td>NA</td>
                    <td>5 GB</td>
                    <td>NA</td>
                    <td>100 GB</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
