{% from "macros/general.html" import navbar, footer with context %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">

    <title>{% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
    {% block script %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {% endblock %}
    {% assets "scss_all" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% block style %}
    {% endblock %}
</head>

<body>
    {{ navbar() }}
    <div class="container">
       {% block body %}{% endblock %}
    </div>
    {{ footer() }}
</body>
<script>
    $(document).ready(onReady());
</script>
</html>
