{% extends "layout/base.html" %}
{% from "macros/layout/title.html" import title %}
{% from "macros/card.html" import card %}
{% block js_extension %}<script src="/static/js/project.js" type="module" defer></script>{% endblock %}
{% block title %}SOTERIA: Public Projects{% endblock %}
{% block page_class %}subpage{% endblock %}
{% block body_class %}container{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11 col-xl-10 col-xxl-8">
            {{ title(project + " Repositories") }}
            <div id="repositories"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="module">
    import { h, Component, render } from 'https://cdn.skypack.dev/preact@10.4.7';
    import { ImageCard, ImageTextRow} from "/static/js/components/card.js";
    import { HarborList} from "/static/js/components/list.js";


    const RepositoryCard = ({
        name,
        project_id,
        pull_count,
        artifact_count,
        update_time,
        chart_count,
        creation_time,
        ...props
    }) => {
        let localeUpdateTime = new Date(Date.parse(update_time)).toLocaleString("en-US")
        let localeCreationTime = new Date(Date.parse(creation_time)).toLocaleString("en-US")

        let [project, repository] = name.split("/")

        return (
            h("a", {href: `https://hub.opensciencegrid.org/harbor/projects/${project_id}/repositories/${repository}`, className:"text-decoration-none"},
                h(
                    ImageCard,
                    {src: "/static/images/icons/Repo_Icon.svg", alt: "Building Graphic", className: "project-card  mb-1 mb-sm-2 p-3 rounded bg-light"},
                    h("div", {className: "description"}, ...[
                        h("div", {className: "row gx-2"}, ...[
                            h("h4", {className: "col-12 col-md-auto fw-bold mb-1"}, repository),
                            ... pull_count ? [h(ImageTextRow, {
                                className: "col-auto",
                                src: "/static/images/icons/download.svg",
                                alt: "Repository Graphic",
                                tag: "h6",
                                "data-bs-toggle": "tooltip",
                                "data-bs-placement": "top",
                                title: `Pull Count: ${pull_count.toLocaleString()}`,
                                text: `${pull_count.toLocaleString()} Pulls`
                            })] : [],
                            ... artifact_count ? [h(ImageTextRow, {
                                className: "col-auto",
                                src: "/static/images/icons/artifact-registry.svg",
                                alt: "Repository Artifact Graphic",
                                tag: "h6",
                                "data-bs-toggle": "tooltip",
                                "data-bs-placement": "top",
                                title: `Artifact Count: ${artifact_count.toLocaleString()}`,
                                text: `${artifact_count.toLocaleString()} Artifacts`
                            })] : [],
                        ]),
                        h("div", {className: "row gx-2"}, ...[
                            h(ImageTextRow, {
                                className: "col-auto",
                                src: "/static/images/icons/clock-history.svg",
                                alt: "Download Graphic",
                                tag: "h6",
                                text: `Updated ${localeUpdateTime}`
                            }),
                            h(ImageTextRow, {
                                className: "col-auto",
                                src: "/static/images/icons/clock.svg",
                                alt: "Download Graphic",
                                tag: "h6",
                                text: `Created ${localeCreationTime}`
                            }),
                        ])
                    ])
                )
            )
        )
    }

    const RepositoryList = () => {

        return (
            h(HarborList, {
                url: "/harbor/get/projects/{{ project }}/repositories",
                card: RepositoryCard,
                cardOptions: {},
                pageSize:10,
                paginatorOptions: {
                    className: "pt-3",
                },
                sortOptions: {
                    "": "Default",
                    "-update_time": "Recently Updated"
                }
            })
        )
    }

    render(h(RepositoryList, {}), document.getElementById("repositories"))
</script>
{% endblock %}
