## Temporary files created by vim.
**/*.swp

## Configuration and cache directories for various tools.
/.*

## Flask's configuration and run-time artifacts, which might contain passwords.
/instance/
/registry/static/.webassets-cache/
/registry/static/assets/

## PyCharm's project files and default virtual environment.
/.idea/
/venv/
