## Temporary files created by vim.
*.swp

## Configuration file for pyenv.
/.python-version

## Build artifacts created by poetry.
/dist/

## Flask's configuration and run-time artifacts, which might contain passwords.
/instance/
/registry/static/.webassets-cache/
/registry/static/assets/

## Directories used by various IDEs.
/.idea/
/.vscode/
/venv/
