## Temporary files created by vim.
*.swp

## Cache directories created by the eponymous tools.
/.mypy/
/.pylint/

## Local configuration file for pyenv.
/.python-version

## Build artifacts.
/dist

## Flask's configuration and run-time artifacts, which might contain passwords.
/instance/
/registry/static/.webassets-cache/
/registry/static/assets/

## PyCharm's project files and default virtual environment.
/.idea/
/venv/

## Test config
/registry/tests/config.py