---
version: "3.0"

services:

  soteria-webapp:

    build:
      context: .
      dockerfile: Dockerfile
      args:
        GITHUB_REF: refs/tags/v0.local-repository

    image: soteria-webapp:dev
    container_name: soteria-webapp
    restart: always

    # Expose the container's web server on a non-standard port so that
    # it can coexist on the host with other web servers.

    ports:
    - ${SOTERIA_WEBAPP_PORT}:8443

    secrets:
    - source: httpd-conf
      target: /etc/httpd/conf.d/httpd.conf
    - source: soteria-conf
      target: /srv/instance/config.py
    - source: tls-crt
      target: /certs/tls.crt
    - source: tls-key
      target: /certs/tls.key

    volumes:
    - ${PWD}/instance/log:/srv/instance/log

secrets:
  httpd-conf:
    file: secrets/httpd.conf
  soteria-conf:
    file: secrets/config.py
  tls-crt:
    file: secrets/tls.crt
  tls-key:
    file: secrets/tls.key
