{% extends "layout/base.html" %}
{% from "macros/layout/title.html" import title %}
{% from "macros/card.html" import card %}
{% block js_extension %}<script src="/static/js/project.js" type="module" defer></script>{% endblock %}
{% block title %}SOTERIA: Public Projects{% endblock %}
{% block page_class %}subpage{% endblock %}
{% block body_class %}container{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-11 col-xl-10 col-xxl-8">
            {{ title(project + " Repositories") }}
            <iframe src="https://atlas-kibana.mwt2.org:5601/s/soteria/app/dashboards?auth_provider_hint=anonymous1#/view/bdc195e0-4da4-11ee-aeb0-9f90ba762c30?embed=true&_g=()&_a=(controlGroupInput:(chainingSystem:HIERARCHICAL,controlStyle:oneLine,ignoreParentSettings:(ignoreFilters:!f,ignoreQuery:!f,ignoreTimerange:!f,ignoreValidations:!f),panels:('9719ad97-0c87-4708-9f20-77ec43f51b56':(explicitInput:(dataViewId:bfb237db-54b3-450a-8558-866d0d871631,enhancements:(),fieldName:Project,id:'9719ad97-0c87-4708-9f20-77ec43f51b56',selectedOptions:!({{ project }}),title:Project),grow:!t,order:0,type:optionsListControl,width:medium),c794eb11-d9f1-45d3-9b04-79da547f29d7:(explicitInput:(dataViewId:bfb237db-54b3-450a-8558-866d0d871631,enhancements:(),existsSelected:!f,fieldName:Image_name,id:c794eb11-d9f1-45d3-9b04-79da547f29d7,selectedOptions:!(),title:Image_name),grow:!t,order:1,type:optionsListControl,width:medium))))" height="600" width="100%"></iframe>
            <div id="repositories"></div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="module">
    import { h, Component, render } from 'https://cdn.skypack.dev/preact@10.4.7';
    import { ImageCard, ImageTextRow, RepositoryCard} from "/static/js/components/card.js";
    import { HarborList} from "/static/js/components/list.js";

    const RepositoryList = () => {

        return (
            h(HarborList, {
                url: "/harbor/get/projects/{{ project }}/repositories",
                card: RepositoryCard,
                cardOptions: {},
                pageSize:10,
                paginatorOptions: {
                    className: "pt-3",
                },
                sortOptions: {
                    "": "Default",
                    "-update_time": "Recently Updated"
                }
            })
        )
    }

    render(h(RepositoryList, {}), document.getElementById("repositories"))
</script>
{% endblock %}
