{% extends "user/layout.html" %}
{% from "macros/layout/title.html" import title %}
{% from "macros/card.html" import card %}
{% block title %}My Projects{% endblock %}
{% block page_class %}subpage{% endblock %}
{% block body_class %}container{% endblock %}
{% block nested_body %}
    <h3>Projects</h3>
    {% if is_researcher %}
        <div class="row pb-3">
            <div class="col-auto">
                <a class="btn btn-outline-primary pt-1" href="/projects/create">New Project <span class="fs-5">+</span></a>
            </div>
        </div>
    {% endif %}
    <div id="projects"></div>
{% endblock %}
{% block scripts %}
<script type="module" async>
    import { h, Component, render } from 'https://cdn.skypack.dev/preact@10.4.7';
    import { ImageCard, ImageTextRow, ProjectCard } from "../static/js/components/card.js";
    import { HarborList} from "../static/js/components/list.js";

    const ProjectList = () => {

        return (
            h(HarborList, {
                url: "/api/v1/users/current/projects",
                card: ProjectCard,
                cardOptions: (data) => { return { href: `{{ harbor_url }}/harbor/projects/${data['project_id']}/repositories`, ...data} },
                pageSize:10
            })
        )
    }

    render(h(ProjectList, {}), document.getElementById("projects"))
</script>
{% endblock %}