{% from "macros/registration.html" import card_header, card_header_check with context %}
{% from "macros/page-header.html" import page_header with context %}
{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block page_class %}subpage{% endblock %}

{% block body %}
    {{ page_header("Registration") }}

    <div class="row">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="row mb-2">
                <div class="col">
                    <p>
                      Follow the steps below to create an account in SOTERIA
                      with basic "affiliate" status. This grants you access
                      to a public project, owned by you, that can be used to
                      publish container images (limited to a total of 5GiB).
                    </p>
                    <p>
                      More information on the various statuses and roles in SOTERIA
                      can be found on the <a href="/about#status-privileges">About page</a>.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div id="soteria-enrollment-verification" class="card">
                        {{ card_header_check("1. Tell us About Yourself") }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <div class="main-message">
                                        <p>
                                        SOTERIA uses a <a
                                                           href="https://incommon.org/software/comanage/">COmanage</a>
                                        instance run by <a
                                                            href="https://opensciencegrid.org/">OSG</a>
                                        for account management. This allows
                                        you to use your existing university
                                        account or other account to log into and use
                                          SOTERIA.
                                        </p>
                                        <p><a href="{{
                                                    get_soteria_enrollment_url()
                                                    }}">Fill out this
                                                    form</a> to enroll your
                                                  {{ get_idp_name() }}
                                                  account in SOTERIA. (If
                                                  prompted by CILogon,
                                                  select the same account
                                                  you initially used to log into
                                                  SOTERIA.)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row card-text justify-content-between">
                                <div class="col-6">
                                    <p class="sub-message"></p>
                                </div>
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-auto">
                                            <a class="btn btn-secondary mr-2 check">Check for Enrollment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div id="hub-verification" class="card">
                        {{ card_header_check("2. Create an OSG Hub Account") }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <div class="main-message">
                                        <p>
                                        SOTERIA uses <a href="{{
                                                                config.HARBOR_HOMEPAGE_URL }}" target='_blank' >OSG Hub</a> for its container registry.</p>
                                        <p>
                                            <a href="{{
                                              config.HARBOR_HOMEPAGE_URL }}"
                                              target='_blank' >Create an
                                            account on OSG Hub</a> using the
                                          same {{ get_idp_name() }} account
                                          that you used to log into SOTERIA.
                                          Then come back to this page and click
                                          "Check for OSG Hub Account" to
                                          confirm that SOTERIA can find your
                                          OSG Hub account.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row card-text justify-content-between">
                                <div class="col-6">
                                    <p class="sub-message"></p>
                                </div>
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-auto">
                                            <a class="btn btn-secondary mr-2 check">Check For OSG Hub Account</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div  id="orc-id-verification" class="card">
                        {{ card_header_check("3. Link Your ORCID iD") }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <div class="main-message">
                                        <p>Because SOTERIA is aimed at
                                        researchers, we require everyone to
                                        have an <a
                                                    href="https://info.orcid.org/what-is-orcid/">ORCID
                                                    iD</a>.</p>

                                        <p><b>If you do not have a ORCID
                                          iD</b>, <a
                                                      href='https://orcid.org/register'
                                                      target='_blank'>register
                                                      for one</a>.</p>

                                        <p><b>Once you have an ORCID iD</b>,
                                        <a href="{{
                                        config.ORCID_ID_ENROLLMENT_URL
                                      }}">link it with SOTERIA</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row card-text justify-content-between">
                                <div class="col-6">
                                    <p class="sub-message"></p>
                                </div>
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-auto">
                                            <a class="btn btn-secondary mr-2 check">Check for ORCID iD</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div  id="provision-verification" class="card">
                        {{ card_header("4. Explore Your Project and Soteria!") }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="main-message">
                                        <p>
                                            If you have completed the previous two steps you are now a registered
                                            <a href="{{ config.DOCS_URL }}/users/affiliate">Affiliate</a>!
                                            Affiliate status comes with a temporary project which you can view on
                                            <a hrefHarbor

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row card-text justify-content-between">
                                <div class="col-6">
                                    <p class="sub-message"></p>
                                </div>
                                <div class="col-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(onReady());
</script>
{%  endblock %}
