{% from "macros/layout/title.html" import title with context %}
{% from "macros/project-card.html" import project_card with context %}
{% from "macros/subnavigation.html" import subnavigation %}
{% from "macros/card.html" import card %}
{% from "macros/user-card.html" import user_card %}
{% from "macros/tag-card-advanced.html" import tag_card_advanced with context %}
{% extends "base.html" %}

{% block title %}{{ project['name'] }} - Tags{% endblock %}
{% block body_container %}mb-auto{% endblock %}
{% block page_class %}subpage{% endblock %}

{% block body %}
    {{ subnavigation() }}
    <div class="container-lg">
        {{ title("Collaborators") }}
        <div class="row">
            <div class="col-12">
                {% call card("Admin") %}
                    <hr>
                    {% for admin_user in project['users']['admin'] %}
                        {{ user_card(admin_user) }}
                    {% endfor %}
                {% endcall %}
            </div>
            <div class="col-12">
                {% call card("Write") %}
                    <hr>
                    {% for admin_user in project['users']['write'] %}
                        {{ user_card(admin_user) }}
                    {% endfor %}
                {% endcall %}
            </div>
            <div class="col-12">
                {% call card("Read") %}
                    <hr>
                    {% for admin_user in project['users']['read'] %}
                        {{ user_card(admin_user) }}
                    {% endfor %}
                {% endcall %}
            </div>
        </div>
    </div>
{% endblock %}
