{% from "macros/layout/title.html" import title with context %}
{% from "macros/project-card.html" import project_card with context %}
{% from "macros/repo-desc-card.html" import repo_desc_card with context %}
{% from "macros/tag-card-basic.html" import tag_card_basic with context %}
{% from "macros/subnavigation.html" import subnavigation %}
{% extends "base.html" %}

{% block title %}{{ project['name'] }}{% endblock %}
{% block body_container %}mb-auto{% endblock %}
{% block page_class %}subpage{% endblock %}

{% block body %}
    {{ subnavigation() }}
    <div class="container">
        {{ title(project['name']) }}
        <div class="row">
            <div class="col-12">
                {{ repo_desc_card(project) }}
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 id="user" class="card-title">Tags</h2>
                        <div class="row p-3 pb-0">
                            <div class="col-3"><h5>Name</h5></div>
                            <div class="col-3"><h5>OS</h5></div>
                            <div class="col-3"><h5>Pulled</h5></div>
                            <div class="col-3"><h5>Pushed</h5></div>
                        </div>
                        <hr class="mt-0">
                        {% for tag in project['tags'][:3] %}
                            {{ tag_card_basic(tag) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h2 id="user" class="card-title">README</h2>
                        <hr>
                        <div>{{ project['readme'] | safe }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
