{% from "macros/layout/title.html" import title with context %}
{% from "macros/project-card.html" import project_card with context %}
{% from "macros/subnavigation.html" import subnavigation %}
{% from "macros/tag-card-advanced.html" import tag_card_advanced with context %}
{% extends "base.html" %}

{% block title %}{{ project['name'] }} - Tags{% endblock %}
{% block body_class %}mb-auto{% endblock %}
{% block page_class %}subpage{% endblock %}

{% block body %}
    {{ subnavigation() }}
    <div class="container-lg">
        {{ title("Tags") }}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row p-3 pb-0 pt-0">
                            <div class="col"><h5>Name</h5></div>
                            <div class="col"><h5>OS</h5></div>
                            <div class="col"><h5>Pulled</h5></div>
                            <div class="col"><h5>Pushed</h5></div>
                            <div class="col"><h5>Size</h5></div>
                        </div>
                        {%  for tag in tags %}
                            {{ tag_card_advanced(tag) }}
                        {%  endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
