#
# Configuration for a web application that uses:
#
#   - mod_ssl
#   - mod_auth_openidc (configured for CILogon)
#   - mod_wsgi
#
# Features:
#
#   - Listens for SSL connections on port 8443.
#   - Routes all requests through the web application.
#
# This file is only a template.
# It must be processed by gomplate <https://gomplate.ca/>.
#

ServerName {{ getenv "EXTERNAL_HOSTNAME" }}
Listen 8443

## Minimize information sent about this server.

ServerSignature Off
ServerTokens ProductOnly
TraceEnable Off

## Redirect all non-SSL requests.

<VirtualHost *:80>
  Redirect permanent / https://{{ getenv "EXTERNAL_HOSTNAME" }}/
</VirtualHost>

## Default name-based virtual host.

<VirtualHost *:8443>
  ServerName {{ getenv "EXTERNAL_HOSTNAME" }}
  ServerAdmin {{ getenv "SUPPORT_EMAIL" }}

  ## Deny access to the file system.

  <Directory "/">
    Require all denied
    Options None
    AllowOverride None
  </Directory>

  ## Restrict the web space to authenticated users...

  <Location "/">
    Require valid-user
    AuthType openid-connect
  </Location>

  ## ...but relax restrictions on public and static content...

  <LocationMatch "^(/|/about)$">
    Require all granted
    AuthType none
  </LocationMatch>

  <LocationMatch "^/(harbor|public|static)/">
    Require all granted
    AuthType none
  </LocationMatch>

  ## ...and let the Flask app handle authentication for webhooks.

  <LocationMatch "^/api/v1/webhooks/">
    Require all granted
    AuthType none
  </LocationMatch>

  ## Configure logging.

  ErrorLog "/var/log/httpd/local_default_ssl_error_ssl.log"
  LogLevel info
  CustomLog "/var/log/httpd/local_default_ssl_access_ssl.log" combined

  ## Configure SSL.

  SSLEngine on
  SSLCertificateFile "/certs/tls.crt"
  SSLCertificateKeyFile "/certs/tls.key"
  SSLCertificateChainFile "/certs/tls.crt"

  ## Configure WSGI.

  WSGIDaemonProcess WebApp display-name=WebApp processes=1 home=/srv  # limit to one Python interpreter
  WSGIProcessGroup WebApp
  WSGIScriptAlias / "/srv/wsgi.py"
  WSGIPassAuthorization On  # required by SOTERIA's webhooks

  ## Configure OIDC.

  OIDCProviderMetadataURL https://{{ getenv "CILOGON_HOSTNAME" }}/.well-known/openid-configuration
  OIDCClientID {{ ds "secrets" "id" }}
  OIDCClientSecret {{ ds "secrets" "secret" }}
  OIDCRedirectURI https://{{ getenv "EXTERNAL_HOSTNAME" }}/callback

  OIDCScope "openid profile email org.cilogon.userinfo"

  OIDCCryptoPassphrase {{ ds "secrets" "passphrase" }}
</VirtualHost>
