{%  macro navbar() %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">OSG Container Registry</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/registration">Registration</a>
        </li>
      </ul>
      <a href="/account" class="btn btn-secondary">Account</a>
    </div>
  </div>
</nav>
{% endmacro %}

{% macro footer() %}
<footer class="bg-primary">
    <div class="row">
        <div class="col-12 text-center text-light">
            For all user support, questions, and comments:
            <a class="text-secondary" href="mailto:{{ config.CONTACT_EMAIL }}">{{ config.CONTACT_EMAIL }}</a>
        </div>
    </div>
</footer>
{% endmacro %}

{% macro page_header(title) %}
<div class="row mt-3 mt-lg-4">
    <div class="col-12">
        <h1>{{ title }}</h1>
    </div>
</div>
{% endmacro %}
