{% macro card(title, id, link_url) %}
<div class="col-12">
    <div  id="{{ id }}" class="card">
        <div class="card-header">
            <div class="row justify-content-between w-100">
                <div class="col-6"><b>{{ title }}</b></div>
                <div class="col-6 align-self-center">
                    <div class="row justify-content-end">
                        <div class="col-auto status-icon">
                            <div class="loading" hidden >
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                            <div class="failed" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                                </svg>
                            </div>
                            <div class="success" hidden>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p class="main-message">Click "Check" to ascertain your current status</p>
                </div>
            </div>
            <div class="row card-text justify-content-between">
                <div class="col-6">
                    <p class="sub-message"></p>
                </div>
                <div class="col-auto">
                    <div class="row">
                        <div class="col-auto">
                            <a href="{{ link_url }}" class="btn btn-secondary">Link</a>
                        </div>
                        <div class="col-auto">
                            <a class="btn btn-secondary mr-2 check">Check</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endmacro %}