{% from "macros/registration.html" import card_header, card_header_check with context %}
{% from "macros/page-header.html" import page_header with context %}
{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{%  block page_class %}subpage{% endblock %}

{% block body %}
    {{ page_header("Registration") }}

    <div class="row">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="row mb-2">
                <div class="col">
                    <p>
                        <b>Registration to Soteria is available to everyone with a ORCID iD!</b>
                    </p>
                    <p>
                        Following the steps below will grant you the 'Affiliate' status for
                        30 days after which you can seek sponsorship by a Verified Researcher
                        or become a Verified Researcher yourself. More information on the
                        various roles in Soteria can be found on the <a href="/about/#status-privileges">About Page</a>.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div  id="hub-verification" class="card">
                        {{ card_header_check("1. Create an OSG Hub Account") }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <div class="main-message">
                                        <p>
                                            Go to <a href="{{ config.HARBOR_HOMEPAGE }}" target='_blank' >OSG Hub</a>
                                            and create an account using the same identity provider that you used to
                                            login with Soteria. Upon account creation return here and click 'Check for OSG
                                            Hub Account' and continue to the next step.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row card-text justify-content-between">
                                <div class="col-6">
                                    <p class="sub-message"></p>
                                </div>
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-auto">
                                            <a class="btn btn-secondary mr-2 check">Check For OSG Hub Account</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div  id="hub-verification" class="card">
                        {{ card_header_check("2. Create an OSG Hub Account") }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <div class="main-message">
                                        <p>
                                            Go to <a href="{{ config.HARBOR_HOMEPAGE }}" target='_blank' >OSG Hub</a>
                                            and create an account using the same identity provider that you used to
                                            login with Soteria. Upon account creation return here and click 'Check for OSG
                                            Hub Account' and continue to the next step.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row card-text justify-content-between">
                                <div class="col-6">
                                    <p class="sub-message"></p>
                                </div>
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-auto">
                                            <a class="btn btn-secondary mr-2 check">Check For OSG Hub Account</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div  id="orc-id-verification" class="card">
                        {{ card_header_check("3. Link ORCID iD with COmanage") }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <div class="main-message">
                                        <b>If do not have a ORCID iD</b>
                                        <p>
                                            Register at <a href='https://orcid.org/register' target='_blank'>ORCID.org</a>
                                            and then proceed with the step below.
                                        </p>
                                        <b>If you have a ORCID iD</b>
                                        <p>
                                            Go to <a href="{{ config.ORCID_ID_ENROLLMENT_PAGE }}" target='_blank' >COmanage</a> and
                                            link your ORCID iD to your account. Then return and click the 'Check for ORCID iD Link'
                                            button below.
                                        </p>
                                        <p>After your ORDIC iD is linked you can click 'Check for ORCID iD Link' and continue to the next step.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row card-text justify-content-between">
                                <div class="col-6">
                                    <p class="sub-message"></p>
                                </div>
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-auto">
                                            <a class="btn btn-secondary mr-2 check">Check for ORCID iD Link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div  id="provision-verification" class="card">
                        {{ card_header("4. Explore Your Project and Soteria!") }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="main-message">
                                        <p>
                                            If you have completed the previous two steps you are now a registered
                                            <a href="{{ config.DOCS_URL }}/users/affiliate">Affiliate</a>!
                                            Affiliate status comes with a temporary project which you can view on
                                            <a hrefHarbor

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row card-text justify-content-between">
                                <div class="col-6">
                                    <p class="sub-message"></p>
                                </div>
                                <div class="col-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(onReady());
</script>
{%  endblock %}
