{% from "macros/registration.html" import card with context %}
{% from "macros/page-header.html" import page_header with context %}
{% extends "base.html" %}

{% block title %}Open Science Container User Registry{% endblock %}

{%  block page_class %}subpage{% endblock %}

{% block body %}
    {{ page_header("User Registration Page") }}

    <div class="row">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="row mb-2">
                <div class="col">
                    <p>
                        Before accessing the resources in the container repository, you need to complete several steps to gain affiliate status and create a new project for your use
                    </p>
                </div>
            </div>
            <div class="row">
                {{ card("1. Verify With Hub", "hub-verification", config.HARBOR_HOMEPAGE) }}
                {{ card("2. Link ORCID iD", "orc-id-verification", config.ORCID_ID_ENROLLMENT_PAGE) }}
                {{ card("3. Provision Project", "provision-verification") }}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(onReady());
</script>
{%  endblock %}
