{% from "macros/registration.html" import card_header, card_header_check with context %}
{% from "macros/page-header.html" import page_header with context %}
{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{%  block page_class %}subpage{% endblock %}

{% block body %}
    {{ page_header("Registration") }}

    <div class="row">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="row mb-2">
                <div class="col">
                    <p>
                        <b>Registration to Soteria is available to everyone with a ORCID iD!</b>
                    </p>
                    <p>
                        Following the steps below will grant you the 'Affiliate' status for
                        30 days after which you can seek sponsorship by a Verified Researcher
                        or become a Verified Researcher yourself. More information on the
                        various roles in Soteria can be found on the <a href="/about#roles">About Page</a>.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div  id="hub-verification" class="card">
                        {{ card_header_check("1. Create an OSG Hub Account") }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="main-message">
                                        <p>
                                            Follow the link to <a href="{{ config.HARBOR_HOMEPAGE }}" target='_blank' >OSG Hub</a>
                                            and create an account using the same identity provider that you used to
                                            login with Soteria. If you would like to change identity providers you can
                                            logout and come back to this page to restart the registration workflow.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row card-text justify-content-between">
                                <div class="col-6">
                                    <p class="sub-message"></p>
                                </div>
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-auto">
                                            <a class="btn btn-secondary mr-2 check">Check For OSG Hub Account</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div  id="orc-id-verification" class="card">
                        {{ card_header_check("2. Link ORCID iD with COmanage") }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="main-message">
                                        <b>If do not have a ORCID iD</b>
                                        <p>
                                            Follow the link to register at <a href='https://orcid.org/register' target='_blank'>ORCID.org</a>
                                            and then proceed with the step below.
                                        </p>
                                        <b>If you have a ORCID iD</b>
                                        <p>
                                            Follow the link to <a href="{{ config.HARBOR_HOMEPAGE }}" target='_blank' >COmanage</a> and
                                            link your ORCID iD to your account. Then return and click the 'Check for ORCID iD Link'
                                            button below.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row card-text justify-content-between">
                                <div class="col-6">
                                    <p class="sub-message"></p>
                                </div>
                                <div class="col-auto">
                                    <div class="row">
                                        <div class="col-auto">
                                            <a class="btn btn-secondary mr-2 check">Check for ORCID iD Link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div  id="provision-verification" class="card">
                        {{ card_header("3. Explore Soteria!") }}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <div class="main-message">
                                        <p>
                                            If you have completed the previous two steps you are now
                                            a registered Affiliate with Soteria. You can explore what
                                            this means on the <a href="/about#affiliate">About Page</a> or you can
                                            provision your first private project on the <a href="/project">Project Page.</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row card-text justify-content-between">
                                <div class="col-6">
                                    <p class="sub-message"></p>
                                </div>
                                <div class="col-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(onReady());
</script>
{%  endblock %}
