{% from "macros/page-header.html" import page_header with context %}
{% from "macros/card.html" import card with context %}
{% extends "base.html" %}

{% block title %}Account Page{% endblock %}
{%  block page_class %}subpage{% endblock %}

{% block body %}
{{ page_header("Account Page") }}

<div class="row">
    <div class="col-12 col-lg-10 col-xl-8">
        <div class="row">
            <div class="col-12">
                {% call card(title="User") %}
                <hr>
                <div class="card-text">
                    <div class="row mb-2">
                        <div class="col-12 col-sm-6">
                            <h5>Name</h5>
                            {{ user.name }}
                        </div>
                        <div class="col-12 col-sm-6">
                            <h5>ORC I.D.</h5>
                            {{ user.ORCID }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h5>Account Type</h5>
                            {{ user.account_type }}
                        </div>
                        <div class="col-12 col-sm-6">
                            <h5>Account Status</h5>
                            {{ user.account_status }} Days Remaining
                        </div>
                    </div>
                </div>
                {% endcall %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
