
{% from "macros/general.html" import page_header with context %}
{% extends "base.html" %}

{% block title %}Open Science Container User Registry{% endblock %}

{% block body %}
    {{ page_header("User Account") }}

    <div class="row">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="row mb-2">
                <div class="col">
                    <p>
                        This is the location to put user name, ORCID, and Projects
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
