$primary: #00364d;
$secondary: #4aaed9;
$light: lighten($secondary, 40%);

$font-family-base: 'Helvetica Neue', 'Helvetica', sans-serif;
@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap";
@import "variables";
@import "bootswatch";

div.col-12:not(:last-child){
  margin-bottom: 1rem;
}

footer {
  .row{
    align-content: center;
  }
  box-shadow: 0 -1px 2px #b3b3b3;
  margin-top: 2rem;
  background-color: $light;
  display: flex;
  justify-content: center;
}

.sub-message.error {
    color: red;
}

.status-icon>.failure{
  color: red;
}

.status-icon>.success{
  color: green;
}

body{
  min-height: 100vh;
}

body.home {
  background: linear-gradient(165deg, lighten($secondary, 35%) 50%, #fff 50%);
}

body.subpage {
  background-color: lighten($secondary, 35%);
}

.project-card {
  a {
    text-decoration: none;
  }
}

#registration {
  display: none;
}

.home {
  #registration {
    display: flex;
  }
}

.image-card {
  & > div:first-child {
    display:flex;
    img {
      margin: auto;
      overflow: visible;
      border-radius: 50%;
      padding: 15px;
      background-color: #00364d;
      height: 60px;
      width: auto;
      box-shadow: 1px 1px 8px grey;
    }
  }
}

.project-card {
  margin-bottom: 1rem;
  color:black;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow .4s;
  .description {
    img.repo-block {
      height: 1.2rem;
      padding-right: .3rem;
    }
  }
  &:hover {
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
  }
}

.image-text-row {
  display: flex;
  img {
    width: 1.3rem;
    padding-right: .3rem;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: auto;
  }
}

.project-list {

}

.paginator {
  display:flex;
  div {
    margin: 0 auto;
  }
  img {
    cursor: pointer;
    height: 1rem;
    margin: 0rem .2rem;
  }
}