{% from "macros/page-header.html" import page_header with context %}
{% extends "base.html" %}

{% block title %}Open Science Container User Registry{% endblock %}

{% block page_class %}home{% endblock %}

{% block body %}
    {{ page_header("Home Page") }}

    <div class="row">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="row mt-2">
                <p>
                    Welcome to the OSG container registry a project inspired by the need
                    of open sources container repos by the research community. Below are
                    displayed the key gateways into using this website.
                </p>
            </div>
            <div class="row mt-2 justify-content-center">
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h2>Register</h2>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <p>
                                    Register to create a container repository by following the link below
                                </p>
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-auto"><a href="/registration" class="btn btn-primary">Register</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h2>Contact Us</h2>
                        </div>
                        <div class="card-body">
                            <p>
                                Contact us with any and all questions relating to your account
                                and container repository
                            </p>
                            <ul>
                                <li>
                                    Email: <a href="mailto:{{ config.CONTACT_EMAIL }}">{{ config.CONTACT_EMAIL }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
