name: Build and Push Image to Container Registry

on:
  push:
    branches:
    - main
    tags:
    - v*

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up Metadata
      id: meta
      uses: docker/metadata-action@v3
      with:
        images: |
          hub.opensciencegrid.org/brian.aydemir/soteria-webapp
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=ref,event=tag
          type=semver,pattern={{version}}
          type=sha

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log into OSG Hub
      uses: docker/login-action@v1
      with:
        registry: hub.opensciencegrid.org
        username: ${{ secrets.HUB_USERNAME }}
        password: ${{ secrets.HUB_TOKEN }}

    - name: Build and Push Image
      uses: docker/build-push-action@v2
      with:
        build-args:
        - GITHUB_REF=${{ github.ref }}
        - GITHUB_SHA=${{ github.sha }}
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}
