{% extends "user/layout.html" %}
{% from "macros/layout/title.html" import title %}
{% from "macros/card.html" import card %}
{% block js_extension %}
    {% assets "soteria_js_account" %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
{% block title %}SOTERIA: Account{% endblock %}
{% block page_class %}subpage{% endblock %}
{% block body_class %}container{% endblock %}

{% block nested_above_body %}
    {# Alert user if they have not finished registration #}
    {% if not is_registered %}
        <div class="alert alert-warning d-flex mt-3">
            <span class="my-auto">
                You must complete registration before accessing further Soteria functionality.
            </span>
            <a href="/registration" class="btn btn-warning ms-auto">Register</a>
        </div>
    {% endif %}
{% endblock %}

{% block nested_body %}
    <h3>Account</h3>
    <div class="row mb-3">
        <div class="col-12">
            <div class="card">
                <div class="card-text m-3">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h5 class="bg-primary rounded text-light p-2">Name</h5>
                            <h6 class="ps-2">{{ user.name }}</h6>
                        </div>
                        <div class="col-12 col-sm-6">
                            <h5 class="bg-primary rounded text-light p-2">ORCiD</h5>
                            <h6 class="ps-2">{{ user.orcid_id }}</h6>
                        </div>
                        <div class="col-12 col-sm-6">
                            <h5 class="bg-primary rounded text-light p-2">Status</h5>
                            <h6 class="ps-2">{{ user.status }}</h6>
                        </div>
                        <div class="col-12 col-sm-6">
                            <h5 class="bg-primary rounded text-light p-2">Email</h5>
                            <h6 class="ps-2">{{ user.email }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        document.getElementById("allocate-project").addEventListener('click', createTemporaryProject)

        async function createTemporaryProject() {
            let res = await fetch("/api/v1/users/current/starter_project", {method: 'POST'})

            if( res.ok ){
                document.getElementById("post-project-creation").hidden = false
                document.getElementById("allocate-project").hidden = true
            }
        }
    </script>
{% endblock %}
